/* =============================================== Background image =============================================== */
/*This is the styling for the background image on the website */
body {
    background: url('https://i.ibb.co/pyghD7n/Britannia-inn-background-img-blurred-1-edited.jpg') no-repeat center center fixed; /* Selects the background image to be used on the website. Ensures that it does not repeat when scrolling
    Which the user should not be able to do anyway */
    /*The following code ensures that the background is responsive on all browsers */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: auto; /*The overflow: auto code here enables scrolling. This is done primarily for mobile users where content doesn't fit on a single screen height */
    }
/* ================================================================================================================ */

/* ================================================ Navigation bar ================================================ */
/* This is the styling for the overall navigation bar */
.navbar {
  display: flex; /* Places the navigation bar in a flex box for easier positioning */
  justify-content: flex-end; /* Positions all of the flex box content to the right side */
  padding: 2rem 2rem 1.5rem 4rem; /* Adds padding to the entire navigation bar for positioning */
}
/* This is the styling for the navigation toggle button */
/* Due to the toggle button being a text symbol in the HTML, font modifiers such as 'font-size' apply to this element */
.navbar-toggler {
  font-size: 2.5rem; /* This resizes the toggle button */
  border: none; /* This removes any border from the toggle button */
  background: none; /* This removes any background from the toggle button */
  color: white; /* This makes the toggle button white */
  cursor: pointer; /* This changes the cursor when hovering over the toggle button, making the button appear clickable to the user */
  padding: 1rem; /* This adds padding for positioning */
  outline: 0; /* This removes any outline from the toggle button */
}
/* This is the styling for all of the links in the navigation bar */
.navbar-links {
  list-style: none; /* Sets the list type to 'none', ensuring that no bullet points are shown for the list of links */
  margin: 0; /* Forces the default margin to 0 for positioning */
  padding: 0; /* Forces the default padding to 0 for positioning */
  display: flex; /* Places the links in a flex box of their own */
  margin-right: 2rem; /* Adds a right margin to the links for positioning in the navigation bar */
}
/* This is the styling for the list within the navigation bar */
.navbar-links li {
  margin-left: 2rem; /* Adds a left margin to the list of links above, for further positioning */
}
/* This is the styling for each of the navigation options */
.navbar-links li a {
  color: white; /* Sets the colour to white for all navigation options */
  text-decoration: none; /* Forces no text decoration, ensuring that a white line is not shown below each navigation option */
  padding: 1rem 2rem; /* Adds padding to each navigation option for spacing between other options */
  font-size: 2rem; /* Adjusts the font size */
  text-shadow: 0.1vw 0.1vw 0.1vw rgba(0, 0, 0, 0.5); /* Adds drop shadow to all nav text */
}
/* This is the styling for each of the navigation options when hovered */
.navbar-links li a:hover {
  background-color: #525252; /* Adds a background colour when the option is hovered */
  color: #fff; /* Sets the colour of the option to white when hovered */
  border-radius: 0.5rem; /* Adds corner rounding to the navigation options when hovered */
}

/* This is the styling for the currently active tab */
.navbar-links li a.active {
  background-color: #5252528c; /* Adds a slightly transparent grey background to the active tab */
  color: #fff; /* Keeps the consistent white font for the active tab */
  border-radius: 0.5rem; /* Keeps the consistent corner rounding for the active tab */
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Media query for mobile devices !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* Collapsible navigation on smaller screens */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5.5vh;
    right: 8vh;
    z-index: 1;
    background-color: #525252;
    border-radius: 0.5rem; /* Keeps the consistent corner rounding for the active tab */
    align-items: center;
  }
  .navbar-links li {
    margin: 0;
    padding: 0.2rem;
  }
  .navbar-links li a {
    text-decoration: none;
    padding: 1rem 2rem; /* Adjusted padding for more spacing between buttons on mobile */
  }
  .navbar-links li:last-child a {
    border-bottom: none;
  }
  .navbar-links.show {
    display: flex;
  }
  .navbar-toggler {
    font-size: 2rem; /* This resizes the toggle button */
  }
  .navbar-links li a.active {
    text-decoration: underline;
    background: none;
    font-weight: bold;
    color: #fff; /* Keeps the consistent white font for the active tab */
    border-radius: 0.5rem; /* Keeps the consistent corner rounding for the active tab */
  }
}
/* ================================================================================================================ */

/* ========================================== The Britannia Inn heading ========================================== */
/*This is the styling for the 'Britannia Inn' header on the home page */
.britannia-header {
  font-family: Kaisei Tokumin; /* Sets the font type */
  font-size: 4.5vw; /* Sets the font size */
  color: #ffffff; /* Sets the font colour */
  text-align: start; /* Aligns the text to the left side of the page or 'start' */
  text-shadow: 0.1vw 0.1vw 0.1vw rgba(0, 0, 0, 0.5); /* Adds drop shadow to the heading */
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Media query for mobile devices !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media (max-width: 768px) {
  .britannia-header {
  font-size: 15vw; /* Change the font size for mobile devices to 7% of the viewport width */
  text-align: center; /* Center the text in the middle of the page */
  }
}
/* ================================================================================================================ */

/* ============================================ The Britannia Inn text ============================================ */
.britannia-paragraph {
  font-family: Kaisei Tokumin; /* Sets the font type */
  font-size: 1.5vw; /* Sets the font size */
  color: #ffffff; /* Sets the font colour */
  text-align: start; /* Aligns the text to the left side of the page */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.5); /* Adds drop shadow to the heading */
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Media query for mobile devices !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media (max-width: 768px) {
  .britannia-paragraph {
  font-size: 6.5vw; /* Change the font size for mobile devices to 7% of the viewport width */
  text-align: center; /* Center the text in the middle of the page */
  }
}
/* ================================================================================================================ */

/* ================================================ The menu button ================================================ */
/*This is the styling for the 'View Menu' button' */
.btn-outline-secondary {
  position: relative; /* Sets the position setting of the button to relative */
  background-color: transparent; /* Sets button background to transparent */
  font-family: Kaisei Tokumin; /* Sets the font type */
  font-size: 1.7rem; /* Sets the font size */
  color: #ffffff; /* Sets the font colour */
  outline: 0.2vw solid white; /* Sets a responsive outline with white colour */
  text-shadow: 0.2vw 0.2vw 0.2vw rgba(0, 0, 0, 0.5); /* Adds drop shadow */
}
/*This is the styling for the 'View Menu' button' when hovered */
.btn-outline-secondary:hover {
  background-color: #D3D3D3; /* Sets the button background to grey when hovered on */
  font-family: Kaisei Tokumin; /* Maintains the font type */
  color: #000000; /* Sets the font colour to black when hovered on */
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Media query for mobile devices !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media (max-width: 768px) {
  .btn-outline-secondary {
    display: block;
    margin: auto;
    margin-top: 5%;
    font-size: 1.8rem; /* Change the font size for mobile devices to 1.2rem */
    width: 60%; /* Set the button width to 50% of the viewport width */
    justify-content: center;
  }
}
/* ================================================================================================================= */

/* ============================================== Opening times heading ============================================== */
.opening-time-header{
  font-family: Kaisei Tokumin; /* Sets the font type */
  font-size: 3vw; /* Sets the font size */
  color: #ffffff; /* Sets the font colour */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Adds drop shadow */
  text-align: end; /* Aligns the text to the right side, or 'end' */
  margin-top: -40%; /* Adds a negative upper margin to bring the element up */
  margin-right: 35%; /* Adds a right margin to push the element away from the right side of the page */
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Media query for mobile devices !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media (max-width: 768px) {
  .opening-time-header {
    text-align: center; /* Center the text horizontally */
    margin: 0 auto; /* Center the element by setting left and right margins to auto */
    margin-top: -20%; /* Adjust the top margin for better positioning on mobile */
  }
}
/* ==================================================================================================================== */

/* ============================================= Opening times subheading  ============================================= */
.opening-times-paragraph{
  font-family: Kaisei Tokumin; /* Sets the font type */
  font-size: 1.5vw; /* Sets the font size */
  color: #ffffff; /* Sets the font colour */
  margin-top: 1%; /* Adds an upper margin, bring the element down from the header above */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Adds drop shadow */
  text-align: end; /* Aligns the text to the right side, or 'end' */
  margin-right: 35%; /* Adds a right margin to push the element away from the right side of the page */
}
/* ===================================================================================================================== */

/* ================================================ Offwhite background ================================================ */
/* This is the styling for the off white background for all pages. */
.page-background {
  position: absolute; /* Sets the position to absolute */
  top: 11%; /* Adds a top margin to allow space for the navigation bar */
  left: 0; /* Sets the element to sit on the left side, ensuring that there is no gap for default padding */
  width: 100%; /* Sets the element width to 100%, ensuring that it always covers the entire width of the page */
  height: 76vh; /* Sets the height */
  background-color: #eee9d9; /* Sets the background colour */
  z-index: -1; /* Sets the Z index to -1 so that the element ALWAYS sits behind all other elements */
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Media query for mobile devices !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* ================================================================================================================= */

/* ============================================== The Menu food image ============================================== */
/* This is the styling for the menu food image */
.menu-image {
  box-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Adds drop shadow */
  width: 41.5%; /* Sets the width of the element */
  max-width: 70%; /* Sets the maximum width of the element */
  margin-left: 3%; /* Adds a left margin to push the element away from the left side of the webpage */
  margin-top: 11%; /* Adds a top margin to push the element away from the top of the webpage */
  border-radius: 1.5%; /* Adds rounding to the corners of the element */
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Media query for mobile devices !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media (max-width: 767px) {
  .menu-image {
    display: none;
  }
}
/* ================================================================================================================= */

/* ================================================ The Menu heading ================================================ */
/* This is the styling for the menu heading */
.menu-header {
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Adds drop shadow */
  color: #000000; /* Sets the text colour */
  font-family: Italiana; /* Sets the text font */
  font-size: 3.3vw; /* Sets the text size */
  margin-left: 75%; /* Adds a left margin for positioning */
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Media query for mobile devices !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media (max-width: 767px) {
  .menu-header {
    font-size: 4rem; /* Change the font size for mobile devices */
    margin: 0 auto; /* Center the menu header horizontally */
    text-align: center;
  }
}
/* ================================================================================================================== */

/* ================================================ The combined menu ================================================ */
/* This is the styling for the combined menu */
#menu-container {
  max-width: 100%; /* Sets the menu to use 100% of its container */
  margin: 0; /* Removes any default margins that may occur */
  padding: 5% 2%; /* Adds padding to the menu for positioning */
  float: right; /* Floats the menu to the right side */
  width: 55%; /* Adjusts the width of the menu */
  margin-top: -5%; /* Adds a negative margin to the top of the menu, moving the menu upwards slightly */
}
.menu-section {
  border: 1px solid #000000; /* Adds a border around each section for looks */
  padding: 5%; /* Adds padding between the menu options and the outer border */
  margin-bottom: 5%; /* Adds spacing between each menu option */
}
.menu-section h3 {
  font-size: 3em; /* Changes the main/dessert heading font size */
  margin-bottom: 2%; /* Adds a margin below the headings, spacing them from the rest of the menu */
  border-bottom: 1px solid #000000; /* Adds a border below the menu headings for looks */
  padding-bottom: 2%; /* Adds further padding below the menu heading and the border line */
}
.menu-item {
  margin-bottom: 2%; /* Adds a space between each of the menu items */
  border-bottom: 1px dashed #979797; /* Add a dashed line below each item for looks */
  padding-bottom: 2%; /* Adds padding below each menu option to space the options out */
  display: flex; /* Places the menu options in a flexbox to align them */
  flex-wrap: wrap; /* Wraps items so that nothing goes onto a second line if the width is not large enough */
  justify-content: space-between; /* Adds 'space-between' for the price of each menu option*/
}
.menu-item-title {
  font-size: 1.5em; /* Controls the font size of each menu option */
  font-weight: bold; /* Sets the font of each menu option to be bold */
  flex-basis: 70%; /* Adjusts the width of each menu item to 70% of the available space in the flex box */
}
.menu-item-desc {
  font-size: 1.1em; /* Controls the font size for the description/additional text of each menu item */
  margin-top: 2%; /* Adds a top margin, spacing the item description from it's corresponding item */
  flex-basis: 80%; /* Adjusts the width of the description to 80% of the available space in the flex box */
}
.menu-item-price {
  font-size: 1.2em; /* Controls the font size for each item's pricing */
  font-weight: bold; /* Sets the pricing of each menu item to bold */
  flex-basis: 20%; /* Adjusts width of the pricing to 20% of the available space in the flex box */
}
/* ==================================================================================================================== */

/* ============================================= The Accomodation heading ============================================ */
/* This is the styling for the accomodation heading */
.accommodation-header {
font-family: Kaisei Tokumin; /* Sets the text font */
font-size: 3vw; /* Sets the text size */
margin-top: 1%; /* Adds a 1% margin to the top for positioning */
text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Adds drop shadow */
}
/* =================================================================================================================== */

/* =============================================== The Accomodation text ============================================== */
/* This is the styling for the accomodation paragraph */
.accommodation-paragraph {
  font-family: Kaisei Tokumin; /* Sets the text font */
  font-size: 1.2vw; /* Sets the text size */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Adds drop shadow */
}
/* ==================================================================================================================== */

/* ================================================= Room service text ================================================ */
/* This is the styling for the room service text */
.room-service-paragraph {
  font-family: Kaisei Tokumin; /* Sets the text font */
  font-size: 1.2vw; /* Sets the font size */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Adds drop shadow */
  margin-top: -1%; /* Adds a top margin for positioning */
}
/* ==================================================================================================================== */

/* ================================================ Room images and text =============================================== */
/* This is the styling for the room images and accompanying headers and subtitles */
.room-images {
  display: flex; /* Places the images in a flex box */
  flex-direction: column; /* Sets the flex direction */
  align-items: center; /* Aligns the element to the center of the flex box */
}
.image-title {
  font-size: 2vw; /* Sets the text size */
  margin-bottom: 0.5vh; /* Adds a bottom margin for positioning */
  font-family: Kaisei Tokumin; /* Sets the text font */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Adds drop shadow */
}
.image-subtitle {
  font-size: 1.4vw; /* Sets the text size */
  margin-top: 0.5vh; /* Adds a top margin for positioning */
  font-family: Kaisei Tokumin; /* Sets the text font */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Adds drop shadow */
}
img {
  width: 80%; /* Sets the image width */
  height: auto; /* Sets the height to match the width value, ensuring aspect ratio is maintained */
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); /* Adds drop shadow to the images */
  border-radius: 1.5%; /* Rounds the corners of the images */
}
/* ===================================================================================================================== */

/* ============================================= The Local Area heading ============================================ */
/* This is the styling for the local area heading */
.local-area-header {
  font-family: Kaisei Tokumin; /* Sets the text font */
  font-size: 3vw; /* Sets the text size */
  margin-top: 1%; /* Adds a top margin for positioning */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Adds drop shadow */
  }
/* =================================================================================================================== */

/* ================================================== Local area text ================================================= */
/* This is the styling for the local area text */
.local-area-paragraph {
  font-family: Kaisei Tokumin; /* Sets the text font */
  font-size: 1.2vw; /* Sets the text size */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Adds drop shadow */
}
/* ==================================================================================================================== */

/* ================================================= Local area images ================================================ */
/* This is the styling for the local area images */
.local-area-images {
  display: flex; /* Places the images in a flex box */
  flex-direction: column; /* Sets the direction of the flex box */
  align-items: center; /* Aligns the images to the center of the flex box */
}
.local-image-title {
  font-size: 2vw; /* Sets the text size */
  margin-bottom: 0.5vh; /* Adds a bottom margin for positioning */
  font-family: Kaisei Tokumin; /* Sets the text font */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Adds drop shadow */
}
.local-image-subtitle {
  font-size: 1.4vw; /* Sets the text size */
  margin-top: 0.5vh; /* Adds a top margin for positioning */
  font-family: Kaisei Tokumin; /* Sets the text font */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Adds drop shadow */
}
img {
  width: 80%; /* Sets the width of the images */
  height: auto; /* Sets the height to change according to the width to maintain the aspect ratio of the images */
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); /* Adds drop shadow */
  border-radius: 1.5%; /* Rounds the corners of the images */
}
/* ==================================================================================================================== */

/* ================================================= Contact headings ================================================= */
/* This is the styling for the contact headings */
.contact-left-heading {
  left: 0; /* Anchors the heading to the left side of the webpage */
  margin-left: 6%; /* Adds a left margin for positioning */
  position: absolute; /* Sets the position setting to absolute for this element */
  top: 0; /* Anchors the heading to the top side of the webpage */
  font-family: Kaisei Tokumin; /* Sets the text font */
  font-size: 3vw; /* Sets the text size */
  margin-top: 5.5%; /* Adds a top margin for positioning */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Adds drop shadow */
}
.contact-right-heading {
  right: 0; /* Anchors the heading to the right side of the webpage */
  margin-right: 6%; /* Adds a right margin for positioning */
  position: absolute; /* Sets the position setting to absolute */
  top: 0; /* Anchors the heading to the top side of the webpage */
  font-family: Kaisei Tokumin; /* Sets the text font */
  font-size: 3vw; /* Sets the text size */
  margin-top: 5.5%; /* Adds a top margin for positioning */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Adds drop shadow */
}
.britannia-subheadings {
  right: 0; /* Anchors the subheading to the right side of the webpage */
  margin-right: 6%; /* Adds a right margin for positioning */
  margin-top: 4%; /* Adds a top margin for positioning */
  text-align: right; /* Aligns the text to the right side of its container */
  position: absolute; /* Sets the position setting to absolute */
  font-size: 1.8rem; /* Sets the text size */
}

/* ==================================================================================================================== */

/* =============================================== Contact form styling =============================================== */
/* This is the styling for the contact form */
.form-container {
  width: 40%; /* Sets the overall width of the form */
  margin-left: 6%; /* Sets the margin to the left of the entire form for positioning */
  padding-top: 5%; /* Adds padding to the top of the entire form for positioning */
}
.form-container .form-group {
  margin-bottom: 2%; /* Adjusts the spacing between each field in the form */
}
.form-container label {
  font-family: Kaisei Tokumin; /* Sets the form label text font */
  font-size: 2.8vh; /* Sets the text size of the form labels */
}
.form-container .form-row {
  display: flex; /* Adds the form rows to a flex box */
  flex-wrap: wrap; /* Adds wrap to the flex box to prevent the boxes from continuing onto the next line when the limit of it's container is reached */
  margin-right: -1%; /* Adjusts the right margin of the First/Last name fields */
  margin-left: -1%; /* Adjusts the left margin of the First/Last name fields */
}
.form-container .form-row .col {
  padding-right: 1%; /* Adjusts the space between First and Last name sections */
  padding-left: 1%; /* Adjusts the padding to the left of the first and last name sections */
}
/* The following three lines of CSS set the placeholder labels for each of the form fields */
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"] {
  width: 100%; /* Adjusts the width of the field boxes */
  padding: 1.5%; /* Adjusts the padding of the field boxes */
  box-sizing: border-box; /* Sets the sizing of each field box */
}
.form-container input::placeholder,
.form-container textarea::placeholder {
  font-size: 2.8vh; /* Adjusts the size of the placeholder font */
}
.form-container textarea {
  width: 100%; /* Adjusts the width of the text box for questions */
  padding: 2px; /* Adjusts the padding of the text box for questions */
  box-sizing: border-box; /* Sets the sizing of the questions box */
  resize: vertical;
  height: 100px; /* Adjusts the height of the questions box */
}
.form-container button[type="submit"] { /* Adds the 'submit' label to the submit button */
  width: 20%; /* Sets the submit button width */
  margin-top: 2%; /* Adds a top margin to the button for positioning */
  background-color: transparent; /* Sets the background of the submit button to transparent */
  color: #000000; /* Sets the text colour for the submit button */
  border-color: #000000; /* Sets the border colour for the submit box */
  transition: background-color 0.3s ease; /* Adds a transition for smooth hover effect */
}
/* Adjusts the hover behavior for the submit button */
.form-container button[type="submit"]:hover {
  background-color: #000000; /* Changes the background color on hover */
  color: #ffffff; /* Changes the text color on hover */
  border-color: #000000; /* Sets the button border colour when hovered */
}
/* ==================================================================================================================== */

/* ============================================== Interactive Google map ============================================== */
/* This is the styling for the interactive google map */
#map {
  width: 80vh; /* Sets the width of the interactive map. The default height is appropriate and does not need adjustment as it follows the width */
  margin-top: -20%; /* Adds a negative top margin to the map for positioning */
  margin-right: 5%; /* Adds a right margin to the map for positioning */
}
.map-container {
  display: flex; /* Sets the map container to be a flex box */
  justify-content: flex-end; /* Aligns the map to the right side of the flex box */
  margin-right: 0%; /* Adds a right margin to the map container for positioning */
}
/* ==================================================================================================================== */

/* =================================================== The Footer =================================================== */
/* This is the styling for the footer background */
.footer {
  width: 100%; /* Sets the footer size. This is set to 100% so that the footer always spans the entire width of the screen */
  height: 12.6vh; /* Sets the height of the footer so that it does not interfere with page content */
}
/* This is the styling for all footer text */
.footer-text-left,
.footer-text-right,
.footer-text-midleft {
  font-size: 0.80vw; /* Sets the text size */
  position: absolute; /* Sets the position setting to absolute */
  color: white; /* Sets the text colour to white */
  text-align: left; /* Aligns all of the above elements to the left side of the footer */
  text-shadow: 0.2vw 0.2vw 0.1vw rgba(0, 0, 0, 0.4); /* Adds drop shadow */
}
.footer-text-midleft {
  padding: 1.5vh 1.5vh 0vh 0vh; /* Adds padding to the middle left footer text for positioning */
}
.footer-navigation {
  font-size: 0.80vw; /* Sets the text size of the footer navigation options */
  position: absolute; /* Sets the position setting to absolute */
  color: white; /* Sets the text colour to white */
  text-shadow: 0.2vw 0.2vw 0.1vw rgba(0, 0, 0, 0.4); /* Adds drop shadow */
  margin-right: 15%; /* Adds a right margin for positioning */
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Media query for mobile devices !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media screen and (max-width: 768px) {
  .footer-text-left,
  .footer-text-right,
  .footer-text-midleft,
  .footer-navigation {
    font-size: 1em; /* Set the desired font size for mobile users */
    text-align: center; /* Aligns the text to the center on mobile */
    position: static; /* Resets the position to static for normal flow on mobile */
    text-shadow: none; /* Removes the text shadow on mobile */
    margin: auto;
  }
}
/* ================================================================================================================== */
/* ================================================================================================================== */
/* ================================================================================================================== */
/* ================================================ Dark Mode styling ================================================ */
/* This is the styling for the dark mode toggle button */
.btn-sm {
  font-size: 0.8rem; /* Adjusts the size of the Dark Mode button. As the actual icon for the dark mode button is a text element, font modifiers apply to it */
  padding: 0.2rem 0.8rem; /* Adjusts the padding of the Dark Mode button for positioning */
}
.dark-mode-button {
  position: absolute; /* Sets the button position to absolute */
  top: 0; /* Forces the top margin to 0, keeping the button at the top of the screen */
  right: 0; /* Forces the right margin to 0, keeping the button on the left of the screen */
  z-index: 999; /* Sets the button to always draw over the top of other elements, to ensure it is always above the background */
}
/* ========================================= Dark Mode styling for homepage ========================================= */
/* inverts the navbar colors of previous elements for dark mode */
/* All of the 'body#homepage elements are specific only to the homepage body, and no other pages. This has been done because the homepage is styled differently
to the other webpages to enhance first impressions. Doing so makes the dark mode behave differently, as colours cannot simply be inverted alone */
/* This is the styling for the darkmode navigation bar for ONLY the homepage. */
/* inverts the navigation bar colors in dark mode and removes text shadow to make the navigation options more readable */
body#homepage.dark-mode .navbar-links li a,
body#homepage.dark-mode .navbar-toggler {
  color: black;
  text-shadow: none;
}
body#homepage.dark-mode .navbar-links li a.active {
  color: #ffffff;
}
/* inverts the footer colors in dark mode */
body#homepage.dark-mode .footer-text-left,
body#homepage.dark-mode .footer-text-right,
body#homepage.dark-mode .footer-text-midleft,
body#homepage.dark-mode .footer-navigation {
  color: #000000; /* Sets the font colour */
  text-shadow: 0vw 0vw 0vw rgba(0, 0, 0, 0.4); /* Maintains the drop shadow previously applied */
}
body#homepage.dark-mode .britannia-header {
  color: #000000; /* Sets the font colour */
}
body#homepage.dark-mode .britannia-paragraph {
  color: #000000; /* Sets the font colour */
}
body#homepage.dark-mode .btn-outline-secondary {
  color: #000000; /* Sets the font colour */
  outline: 0.2vw solid rgb(0, 0, 0); /* Sets a responsive outline to white */
}
/*This is the styling for the 'View Menu' button' when hovered on */
body#homepage.dark-mode .btn-outline-secondary:hover {
  background-color: #000000; /* Sets the button background to grey when hovered on */
  font-family: Kaisei Tokumin; /* Sets the font type */
  color: #ffffff; /* Sets the font colour to white when hovered on */
}
body#homepage.dark-mode .opening-time-header {
  color: #000000; /* Sets the font colour */
}
body#homepage.dark-mode .opening-times-paragraph {
  color: #000000; /* Sets the font colour */
}
/* This is the dark mode styling for the background image on the homepage ONLY */
/* For the dark mode setting, a different background image has been used, which is effectively identical to the original background image, but
with a lighter filter and adjusted brightness, contrast and exposure to make the image appear brighter. This was a more simplified approach than
using the filter method in code, as this did not interact properly with the image */
/* The responsiveness CSS remains the same as the previous background image, but must be applied below to the new image to maintain responsiveness
across different browsers */
body#homepage.dark-mode {
  background: url('https://i.ibb.co/WksHxnv/Britannia-background-brighter.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* ================================================================================================================== */

/* ===================================== Dark Mode styling for all other pages ===================================== */
/* ================================================= Dark Mode Menu ================================================= */
/* This is the styling for the off white background for all pages. */
.dark-mode .page-background {
  background-color: #2b2b2b; /* Sets the background colour for dark mode */
}
/* This is the styling for the Menu heading */
/* The following code changes the colour of all elements in the menu, including the menu heading to white, so that these elements correspond with dark mode */
.dark-mode .menu-header {
  color: #ffffff;
  text-shadow: 0.1vw 0.1vw 0.1vw rgba(0, 0, 0, 0.5); /* Adds drop shadow */
}
/* This is the styling for the dark mode combined menu */
.dark-mode #menu-container {
color: #ffffff;
text-shadow: 0.1vw 0.1vw 0.1vw rgba(0, 0, 0, 0.5); /* Adds drop shadow */
}
.dark-mode .menu-section {
  border: 1px solid #ffffff;
}
.dark-mode .menu-section h3 {
  border-bottom: 1px solid #ffffff;
}
.dark-mode .menu-item {
  border-bottom: 1px dashed #ffffff;
}
/* ================================================================================================================== */
/* ================================================ Dark Mode Rooms ================================================ */
/* This is the styling for the accomodation heading */
.dark-mode .accommodation-header {
  color: #ffffff; /* Sets the font colour */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Maintains the drop shadow previously applied */
  }
/* This is the styling for the accomodation paragraph */
.dark-mode .accommodation-paragraph {
  color: #ffffff; /* Sets the font colour */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Maintains the drop shadow previously applied */
  }
/* This is the styling for the room service text */
.dark-mode .room-service-paragraph {
  color: #ffffff; /* Sets the font colour */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Maintains the drop shadow previously applied */
}
/* This is the styling for the room images and accompanying headers and subtitles */

.dark-mode .image-title {
  color: #ffffff; /* Sets the font colour */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Maintains the drop shadow previously applied */
}
.dark-mode .image-subtitle {
  color: #ffffff; /* Sets the font colour */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Maintains the drop shadow previously applied */
}
/* ================================================================================================================= */
/* ============================================== Dark Mode Local area ============================================== */
/* This is the styling for the local area heading */
.dark-mode .local-area-header {
  color: #ffffff; /* Sets the font colour */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Maintains the drop shadow previously applied */
  }
/* This is the styling for the local area text */
.dark-mode .local-area-paragraph {
  color: #ffffff; /* Sets the font colour */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Maintains the drop shadow previously applied */
}
/* This is the styling for the local area image text */
.dark-mode .local-image-title {
  color: #ffffff; /* Sets the font colour */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Maintains the drop shadow previously applied */
}
.dark-mode .local-image-subtitle {
  color: #ffffff; /* Sets the font colour */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Maintains the drop shadow previously applied */
}
/* ================================================================================================================== */
/* ============================================== Dark Mode Contact us ============================================== */
/* ================================================= Contact headings ================================================= */
/* This is the styling for the contact headings */
.dark-mode .contact-left-heading {
  color: #ffffff; /* Sets the font colour */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Maintains the drop shadow previously applied */
}
.dark-mode .contact-right-heading {
  color: #ffffff; /* Sets the font colour */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Maintains the drop shadow previously applied */
}
.dark-mode .britannia-subheadings {
  color: #ffffff; /* Sets the font colour */
}
/* ==================================================================================================================== */

/* =============================================== Contact form styling =============================================== */
/* This is the styling for the contact form */
.dark-mode .form-container label {
  color: #ffffff; /* Sets the font colour for the form labels*/
}
.dark-mode .form-container button[type="submit"] {
  background-color: transparent; /* Maintains the transparent button background in dark mode */
  color: #ffffff; /* Sets the font colour for the submit button */
  border-color: #ffffff; /* Sets the button border colour to white for dark mode */
}
/* Adjusts the hover behavior for the submit button */
.dark-mode .form-container button[type="submit"]:hover {
  background-color: #ffffff; /* Changes the background color on hover */
  color: #000000; /* Changes the text color on hover */
  border-color: #ffffff; /* Sets the button border colour to white for dark mode on hover */
}
/* ================================================================================================================== */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Media query for mobile devices !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Dark mode navigation bar  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media screen and (max-width: 768px) {
  .dark-mode .navbar-links {
    background-color: #afafaf;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5.5vh;
    right: 8vh;
    z-index: 1;
    border-radius: 0.5rem; /* Keeps the consistent corner rounding for the active tab */
    align-items: center;
  }
  .dark-mode .navbar-links li {
    margin: 0;
    padding: 0.2rem;
  }
  .dark-mode .navbar-links li a {
    text-decoration: none;
    padding: 1rem 2rem; /* Adjusted padding for more spacing between buttons on mobile */
  }
  .dark-mode .navbar-links li:last-child a {
    border-bottom: none;
  }
  .dark-mode .navbar-links.show {
    display: flex;
  }
  .dark-mode .navbar-toggler {
    font-size: 2rem; /* This resizes the toggle button */
  }
  .dark-mode .navbar-links li a.active {
    text-decoration: underline;
    background: none;
    font-weight: bold;
    color: #fff; /* Keeps the consistent white font for the active tab */
    border-radius: 0.5rem; /* Keeps the consistent corner rounding for the active tab */
  }
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */