.contact-left-heading {
  left: 0;
  margin-left: 6%;
  position: absolute;
  top: 0;
  font-family: Kaisei Tokumin;
  font-size: 3vw;
  margin-top: 5.5%;
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4);
}
.contact-right-heading {
  right: 0;
  margin-right: 6%;
  position: absolute;
  top: 0;
  font-family: Kaisei Tokumin;
  font-size: 3vw;
  margin-top: 5.5%;
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4);
}

.britannia-subheadings {
  right: 0;
  margin-right: 6%;
  position: absolute;
  color: #333;
  font-size: 18px;
}
