/* ================================================ Navigation bar ================================================ */
/* This is the styling for the overall navigation bar */
.nav-pills {
  display: flex; /* Places the navigation bar in a flex box */
  justify-content: flex-end; /* Aligns the flex box to the right 'end' of the webpage */
  margin-top: 1%; /* Adds an upper margin to the overall navigation bar to push the element down */
}
/* This is the styling for each navigation button */
.nav-pills .nav-link {
  color: #ffffff; /* Sets the nav text colour to white */
  font-family: Kaisei Tokumin; /* Sets the nav text font */
  font-size: 1.7vw; /* Sets the nav text font size */
  margin-top: 3.75%; /* Adds a responsive top margin to each button */
  margin-right: 5%; /* Changes the spacing between each button */
  text-shadow: 0.1vw 0.1vw 0.1vw rgba(0, 0, 0, 0.5); /* Adds drop shadow to all nav text */
  border: 1px solid transparent; /* Adds a transparent border to prevent other buttons from moving when hovering */
  padding: 0.5rem 1rem; /* Adjusts the padding to compensate for the added border */
  transition: all 0.3s ease; /* Adds a smooth transition effect to each button */
  white-space: nowrap; /* Prevents text from wrapping */
}
/* This is the styling for navigation buttons when hovered */
.nav-pills .nav-link:hover {
  color: #000000; /* Sets the nav text to black when hovered */
  background-color: #D3D3D3; /* Sets the button background to grey when hovered */
  padding: 0.5rem rem; /* Sets button padding to maintain padding */
  border-radius: 10%; /* Adds rounding to each button when hovered */
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); /* Adds slight shadowing to each button when hovered */
}
/* This is the styling for navigation button that is active */
.nav-pills .nav-link.active {
  background-color: rgba(211, 211, 211, 0.5); /* Sets the button background color for the current page button */
  color: #000000; /* Sets the text color for the current page button */
  border-radius: 10%; /* Adds rounding to the current page button */
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); /* Adds shadow to the current page button */
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Media query for mobile devices !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media (max-width: 768px) {
  /* Change the flex-direction to column to display the menu vertically */
  .nav-pills {
    flex-direction: column;
    align-items: flex-start; /* Aligns the menu items to the right when displayed vertically */
  }

  /* Adjust the margin and spacing for vertical layout */
  .nav-pills .nav-link {
    margin-right: 0; /* Remove the right margin */
    margin-bottom: 5%; /* Add bottom margin to separate each button */
    color: #ffffff; /* Sets the nav text colour to white */
    font-family: Kaisei Tokumin; /* Sets the nav text font */
    font-size: 7vw; /* Sets the nav text font size */
  }
}
/* ================================================================================================================ */





.navbar-toggler {
  font-size: 2.5rem; /* This resizes the toggle button */
}


@media screen and (max-width: 768px) {
  .btn-outline-secondary {
    text-align: center;
    font-size: 1.2rem; /* Change the font size for mobile devices to 1.2rem */
    width: 40%; /* Set the button width to 50% of the viewport width */
    justify-content: center;
  }
}




.desserts-header {
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Adds drop shadow */
  color: #000000; /* Sets the text colour */
  font-family: Italiana; /* Sets the text font */
  font-size: 2.5vw; /* Sets the font size */
  margin-top: -80%; /* Adds a negative top margin for positioning */
  margin-left: -215%; /* Adds a negative left margin for positioning */
}





.mains-header {
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Adds drop shadow */
  color: #000000; /* Sets the text colour */
  font-family: Italiana; /* Sets the text font */
  font-size: 2.5vw; /* Sets the text size */
  margin-top: 1%; /* Adds a negative top margin for positioning */
  margin-left: 45%; /* Adds a negative left margin for positioning */
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Media query for mobile devices !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media (max-width: 767px) {
  .mains-header {
    font-size: 3rem; /* Change the font size for mobile devices */
    margin: 0 auto; /* Center the menu header horizontally */
    text-align: center;
    margin-top: 8%;
  }
}




.desserts-header {
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Adds drop shadow */
  color: #000000; /* Sets the text colour */
  font-family: Italiana; /* Sets the text font */
  font-size: 2.5vw; /* Sets the font size */
  margin-top: -80%; /* Adds a negative top margin for positioning */
  margin-left: -215%; /* Adds a negative left margin for positioning */
}




.dark-mode .menu-header {
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Maintains the drop shadow previously applied */
  color: #ffffff; /* Sets the font colour */
}
.dark-mode .menu-section {
  border: 1px solid #ffffff; /* Adds a border around each section for looks */
}
.dark-mode .menu-section h3 {
  border-bottom: 1px solid #ffffff; /* Adds a border below the menu headings for looks */
}
.dark-mode .menu-item {
  border-bottom: 1px dashed #ffffff; /* Add a dashed line below each item for looks */
}
.dark-mode .menu-item-title {
  color: #ffffff;
}
.dark-mode .menu-item-desc {
  color: #ffffff;
}
.dark-mode .menu-item-price {
  color: #ffffff;
}





/* ================================================ Room images and text =============================================== */
/* This is the styling for the room images and accompanying headers and subtitles */
.room-images {
  display: flex; /* Places the images in a flex box */
  flex-direction: column; /* Sets the flex direction */
  align-items: center; /* Aligns the element to the center of the flex box */
}
.image-title {
  font-size: 2vw; /* Sets the text size */
  margin-bottom: 0.5vh; /* Adds a bottom margin for positioning */
  font-family: Kaisei Tokumin; /* Sets the text font */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Adds drop shadow */
}
.image-subtitle {
  font-size: 1.4vw; /* Sets the text size */
  margin-top: 0.5vh; /* Adds a top margin for positioning */
  font-family: Kaisei Tokumin; /* Sets the text font */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Adds drop shadow */
}
img {
  width: 80%; /* Sets the image width */
  height: auto; /* Sets the height to match the width value, ensuring aspect ratio is maintained */
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); /* Adds drop shadow to the images */
  border-radius: 1.5%; /* Rounds the corners of the images */
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Media query for mobile devices !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media (max-width: 768px) {
  .room-images {
    flex-direction: column; /* Change flex direction to stack elements vertically */
    align-items: center; /* Center elements horizontally within the flex box */
  }
  .image-title {
    font-size: 5vw; /* Adjust the text size to 5vw for mobile devices */
    margin-bottom: 1vh; /* Add space between the title and subtitle */
  }
  .image-subtitle {
    font-size: 3.5vw; /* Adjust the text size to 3.5vw for mobile devices */
    margin-top: 1vh; /* Add space between the subtitle and the image */
  }
  img {
    width: 80%; /* Adjust the image width to 80% for mobile devices */
    border-radius: 1.5%; /* Maintain rounded corners */
  }
}





.local-area-images {
  display: flex; /* Places the images in a flex box */
  flex-direction: column; /* Sets the direction of the flex box */
  align-items: center; /* Aligns the images to the center of the flex box */
}
.local-image-title {
  font-size: 2vw; /* Sets the text size */
  margin-bottom: 0.5vh; /* Adds a bottom margin for positioning */
  font-family: Kaisei Tokumin; /* Sets the text font */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Adds drop shadow */
}
.local-image-subtitle {
  font-size: 1.4vw; /* Sets the text size */
  margin-top: 0.5vh; /* Adds a top margin for positioning */
  font-family: Kaisei Tokumin; /* Sets the text font */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Adds drop shadow */
}
img {
  width: 80%; /* Sets the width of the images */
  height: auto; /* Sets the height to change according to the width to maintain the aspect ratio of the images */
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); /* Adds drop shadow */
  border-radius: 1.5%; /* Rounds the corners of the images */
}






/* This is the styling for the footer background */
.footer {
  width: 100%; /* Sets the footer size. This is set to 100% so that the footer always spans the entire width of the screen */
  height: 12.6vh; /* Sets the height of the footer so that it does not interfere with page content */
}
/* This is the styling for all footer text */
.footer-text-left,
.footer-text-right,
.footer-text-midleft {
  font-size: 0.80vw; /* Sets the text size */
  position: absolute; /* Sets the position setting to absolute */
  color: white; /* Sets the text colour to white */
  text-align: left; /* Aligns all of the above elements to the left side of the footer */
  text-shadow: 0.2vw 0.2vw 0.1vw rgba(0, 0, 0, 0.4); /* Adds drop shadow */
}
.footer-text-midleft {
  padding: 1.5vh 1.5vh 0vh 0vh; /* Adds padding to the middle left footer text for positioning */
}
.footer-navigation {
  font-size: 0.80vw; /* Sets the text size of the footer navigation options */
  position: absolute; /* Sets the position setting to absolute */
  color: white; /* Sets the text colour to white */
  text-shadow: 0.2vw 0.2vw 0.1vw rgba(0, 0, 0, 0.4); /* Adds drop shadow */
  margin-right: 15%; /* Adds a right margin for positioning */
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Media query for mobile devices !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media screen and (max-width: 768px) {
  .footer-text-left,
  .footer-text-right,
  .footer-text-midleft,
  .footer-navigation {
    font-size: 1em; /* Set the desired font size for mobile users */
    text-align: center; /* Aligns the text to the center on mobile */
    position: static; /* Resets the position to static for normal flow on mobile */
    text-shadow: none; /* Removes the text shadow on mobile */
    margin: auto;
  }
}


@media screen and (max-width: 768px) {
  .dark-mode .navbar-links {
    background-color: #afafaf;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 5.5vh;
    right: 8vh;
    z-index: 1;
    border-radius: 0.5rem; /* Keeps the consistent corner rounding for the active tab */
    align-items: center;
  }
  .dark-mode .navbar-links li {
    margin: 0;
    padding: 0.2rem;
  }
  .dark-mode .navbar-links li a {
    text-decoration: none;
    padding: 1rem 2rem; /* Adjusted padding for more spacing between buttons on mobile */
  }
  .dark-mode .navbar-links li:last-child a {
    border-bottom: none;
  }
  .dark-mode .navbar-links.show {
    display: flex;
  }
  .dark-mode .navbar-toggler {
    font-size: 2rem; /* This resizes the toggle button */
  }
  .dark-mode .navbar-links li a.active {
    text-decoration: underline;
    background: none;
    font-weight: bold;
    color: #fff; /* Keeps the consistent white font for the active tab */
    border-radius: 0.5rem; /* Keeps the consistent corner rounding for the active tab */
  }
}


.contact-left-heading {
  left: 0; /* Anchors the heading to the left side of the webpage */
  margin-left: 6%; /* Adds a left margin for positioning */
  position: absolute; /* Sets the position setting to absolute for this element */
  top: 0; /* Anchors the heading to the top side of the webpage */
  font-family: Kaisei Tokumin; /* Sets the text font */
  font-size: 3vw; /* Sets the text size */
  margin-top: 5.5%; /* Adds a top margin for positioning */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Adds drop shadow */
}
.contact-right-heading {
  right: 0; /* Anchors the heading to the right side of the webpage */
  margin-right: 6%; /* Adds a right margin for positioning */
  position: absolute; /* Sets the position setting to absolute */
  top: 0; /* Anchors the heading to the top side of the webpage */
  font-family: Kaisei Tokumin; /* Sets the text font */
  font-size: 3vw; /* Sets the text size */
  margin-top: 5.5%; /* Adds a top margin for positioning */
  text-shadow: 0.2vw 0.2vw 0.8vw rgba(0, 0, 0, 0.4); /* Adds drop shadow */
}
.britannia-subheadings {
  right: 0; /* Anchors the subheading to the right side of the webpage */
  margin-right: 6%; /* Adds a right margin for positioning */
  margin-top: 4%; /* Adds a top margin for positioning */
  text-align: right; /* Aligns the text to the right side of its container */
  position: absolute; /* Sets the position setting to absolute */
  font-size: 1.8rem; /* Sets the text size */
}